@import url('./style-menu-footer.min.css');

body {
    font-family: 'Poppins', sans-serif;
    text-align: justify;
}

main p {
    text-align: justify;
    hyphens: auto;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    word-break: normal;
}

.banner img {
    width: 75%;
}

.intro {
    text-align: center;
    margin-bottom: 2rem;
}

.banner img {
    width: 100%;
    max-width: 960px;
    height: auto;
    border-radius: 12px;
}

.slogan {
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 1rem;
    color: #005481;
}

.descricao-app {
    padding: 1rem 2rem;
    max-width: 960px;
    margin: 0 auto;
}

.descricao-app h2 {
    color: #005481;
    margin-bottom: 0.5rem;
}

.descricao-app p {
    font-size: 1.1rem;
    line-height: 1.6;
    color: #333;
    margin-bottom: 2rem;
}