@import url('./style-menu-footer.min.css');

main {
    padding: 40px 20px
}

main section {
    max-width: 900px;
    margin: 0 auto;
    border-radius: 10px;
    padding: 40px;
    background-color: #fff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .1)
}

h1 {
    color: #005481;
    text-align: center;
    margin: 0px 0 40px;
    font-size: 2.2rem;
}


body {
    font-family: 'Poppins', sans-serif;
    text-align: justify;
}

main p {
    text-align: justify;
    hyphens: auto;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    word-break: normal;
}

.faq-item {
    text-align: left;
    background-color: #e6e6e6;
    padding: 20px;
    margin: 20px 0;
    border-left: 5px solid #00a0d2;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.faq-item:hover {
    transform: translateY(-4px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

.faq-item h3 {
    color: #005481;
    margin-bottom: 10px;
}

.faq-item p {
    color: #333;
    line-height: 1.5;
}

/*-----------MENU ACIMA --------------*/

@media (max-width: 600px) {
    .faq-item h3 {
        font-size: 100%;
    }

    .faq-item p {
        font-size: 100%;
    }
}

@media (min-width: 600px) {

    .faq-item h3 {
        font-size: 110%;
    }

    .faq-item p {
        font-size: 110%;
    }
}

@media (min-width: 768px) {
    .faq-item h3 {
        font-size: 120%;
    }

    .faq-item p {
        font-size: 120%;
    }
}

@media (min-width: 992px) {
    .faq-item h3 {
        font-size: 130%;
    }

    .faq-item p {
        font-size: 130%;
    }
}

@media (min-width: 1300px) {
    .faq-item h3 {
        font-size: 140%;
    }

    .faq-item p {
        font-size: 140%;
    }
}